.THIS .noDisplay {
    display: none;
}

.THIS .shake {
  -webkit-animation-duration: 1.0s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.THIS .redcolor {
  color: #FF0000;
}

.THIS .border {
    border-style: solid;
    border-width: 6px;
    border-color: t(colorBorderButtonBrand);
    border-radius: 2px;
}

.THIS .slds-form-element__label {
    font-size: 100%;
}

.THIS .slds-modal__header {
    background: t(colorBrand);
}

.THIS .slds-text-body_regular {
    color: t(colorTextButtonBrand);
}

.THIS .slds-button--neutral{
    background-color: t(colorBackgroundButtonBrand);
}


.THIS .paddingAround {
    margin-top:2%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:5%;
}

.THIS .removeButton {
     color:#FFFFFF;
     float:left;
}

.THIS .closeButton {
    float:right;
    color:#FFFFFF;
    margin-right:3%;
}