.THIS .backgroundColor {
    background-color: #85C1E9;
    color: #000000;
}

.THIS .backgroundBlack {
    background-color: #a8d1ed;
    color: #000000;
}


.THIS .whiteText {
    background-color: #85C1E9;
    color: #ffffff;
}