.THIS {
}

.THIS .floatRight {
    float:right;
}

.THIS.main1 {
    padding-top: 5%;

}

.THIS .boxLeft {
    width:30%;
    float:left;
    
}

.THIS .blueBackground {
    background:#266092;    
}

.THIS .marginAround {
    margin: 2.5%;
}
.THIS .marginTop {
    padding-top: 2.5%;
}
.THIS .marginBottom {
    padding-bottom: 2.5%;
}
.THIS .marginBottom25 {
    margin-bottom: 2.5%;
}

.THIS .boxCenter {
    width:30%;
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}

.THIS .boxRight {
    width:30%;
    float:right;
}

.THIS.expand {
    width:100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.THIS.focus{
  width: 250px;
}

.THIS.paddingTop2{
  padding-top: 2%;
}

.THIS .box {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
       background-color:#ECECEC    ;
}

.THIS .boxMSLP {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
       background-color:#ffd299    ;
}

.THIS.main2 {
    padding-top: 2%;

}
.THIS .logo {
    float:left;
    margin:10px;
    vertical-align:middle
}
.THIS .bwbluePaddingRight {
    color: #216093  ;
    padding-left: 8%;
}
.THIS .bwTeal {
    color: #00AFA9  ;
    padding-left: 8%;
}

.THIS .bwSecondary {
    color: #00AFA9  ;
}

.THIS .bwBlue {
    color: #216093  ;
}
.THIS .bwBluePaddingBelow {
    color: #216093  ;
    padding-bottom:1%;
}

.THIS .headertop {
    width:100%;
    text-align: center;
    padding: 15px 10px;
    padding-top: 5%;
    background-color:#216093    ;
    border-bottom:2px solid #7c98ad    ;
    border-radius:5px;
    height:75px;
    
}

.THIS .fundsBoxLeft {
    width:22%;
    float:left;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.THIS .fundsBoxCenter {
    width:22%;
    float:left;
    margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .fundsBoxRight {
    width:22%;
    float:right;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.THIS .logo {
    float:left;
    margin:10px;
    vertical-align:middle
}

.THIS .navsectionleft {
    width:22%;
    float:left;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.THIS .noDisplay {
    display: none;
}

.THIS .yesDisplay {
    visibility: visible;
}

.THIS .noDisplaySpec {
    display: none;
}

.THIS.noDisplayBar {
    display: none;
}

.THIS .left {
    float:left;
    border: none;
    background: none;
}

.THIS .right {
    float:right;
    background: none;
}

.THIS .rightMargin {
    float:right;
    background: none;
    margin-right: 10%;
}

.THIS .navsectionright {
    width:22%;
    float:right;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .navsectionCenter {
    width:22%;
    float:left;
    margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.THIS .center {
    width:100%;
    text-align:center;
}

.THIS .buttonRight {
    float:right;
    margin-right:20%;
}

.THIS .buttonLeft {
    float:left;
    margin-left:20%;
}

.THIS .paddingBottom1 {
    padding-bottom:1%;
}
.THIS .paddingBottom5 {
    padding-bottom:5%;
}

.THIS .paddingTop1x5 {
    padding-top:2%;
}

.THIS .paddingLeft1 {
    padding-left:1%;
}

.THIS .inputMarginLeft {
    margin-left: 0.75%;
}
.THIS .inputMarginRight {
    margin-right: 0.75%;
}
.THIS .inputMarginLeft2 {
    margin-left: 0.75%;
}
.THIS .inputMarginRight2 {
    margin-right: 0.75%;
}
.THIS .inputMarginTop {
    margin-top: 0.9%;
}

.THIS .center a {
    background-color: #216093  ;
    border-radius:5px;
    color:#FFFFFF;
    width:75%;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    border:2px solid #343434;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(3px, 0, 0);
  }
}

.THIS .shake {
  animation-name: shake;
}

.THIS .bottomCorner {
    float:right;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
}