/**
 * Created by JesseFox_GearsCRM on 7/6/2020.
 */

 @import 'c/ssfStyleLibrary';

.header-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.header-section::before,
.header-section::after {
    flex: 1 1 auto;
    content: "";
    border-bottom: 1px solid #ffffff;
    margin: auto;

}
.header-section > .heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem;
}
.header-section h2 {
    display: inline-block;
    font-size: 1.25rem;
    color: #ffffff;
    margin-right: 1rem;
}
.footer-section {
    color: #d3d3d3;
}
.footer-section > * > h5 {
    color: #ffffff;
    font-weight: 700;
}
.address {
    font-size: 11px;
}
.plain-link {
    color: inherit;
}
.link-icon {
    fill: #387cdf;
    width: .5rem;
    height: .5rem;
    position: relative;
    top: -1px;
}
.logo {
    max-width:20%;
    height:auto;
}