.THIS .nimbusBackground {
    background-color: #DFDFE0;
}

.THIS .box {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
}

.THIS .noDisplay {
    display: none;
}
.THIS .slds-is-active {
    background-color: #DFDFE0;
}
.THIS.slds-spinner {
	position: absolute;
    left: 50%;
    top: 69%;
}