/**
 * Created by LindsayHolmes_GearsCRM on 7/6/2020.
 */

/**
 *  shared CSS component is not sufficiently bug-free to use at this time
 *  replacing with static resource and loadStyles
**/
/* @import 'c/ssfStyleLibrary'; */

.slds-carousel__panel.panel-hide{
    display: none;
}

.slds-carousel__panel img{
    max-height: 60vh !important;
}

img.loading {
    margin: auto;
    max-width: 85px;
    height: auto;
}