/**
 * Created by LindsayHolmes_GearsCRM on 7/7/20.
 */

* {
    box-sizing: border-box;
}

.page-container {
    width: 100%;
    justify-content: center;
    display: flex;
    align-self: center;
    padding: 1rem;
}

.zip-container {
    width: 100%;
    display: block;
}
.zip-container > lightning-input {
    width: 8rem;
    margin: auto;
}


/****************************/
/*         Buttons          */
/****************************/
button {
    display: inline-block;
    border: none;
    border-radius: 3rem;
    outline: none;
    padding: 1.125rem 2rem;
    line-height: 1.25rem;
    transition: all .3s ease;
    text-align: center;
    font-family: CentraMedium, sans-serif;
    text-decoration-color: #FFFFFF;
    text-decoration-line: none;
    text-decoration-style: solid;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
}
button:hover, button.btn:hover, button.btn-inverse:hover {
    background-color: #387CDF;
    box-shadow: 0 4px 8px 0 rgba(43, 47, 57, 0.16);
    transform: translateY(-2px);
}
button.btn {
    background: #151C34;
    color: #FFFFFF;
}
button.btn-inverse {
    background-color: #FFFFFF;
    color: #387CDF;
}
.accordion-button {
    float: left;
}
.accordion-button__icon.top {
    fill: #387cdf;
    width: 1.1rem;
    height: 1.1rem;
}
.accordion-button__icon {
    fill: #d3d3d3;
    width: .65rem;
    height: .65rem;
}
.accordion-button__icon:hover {
    transform: scale(1.2);
}
.accordion-button__icon.rotate {
    transform: rotate(90deg);
}
.accordion-button__icon.rotate:hover {
    transform: rotate(90deg) scale(1.2);
}
.combo-button {
    display: flex;
    flex-flow: row nowrap;
}
.combo-button__icon {
    fill: #387CDF;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
.combo-button__text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}



/****************************/
/*         Carousel         */
/****************************/
.slds-carousel__panel.panel-hide {
    display: none;
}
.no-border {
    border-style: none !important;
}
.carousel-content_icon {
    max-width: 14vw;
    height: auto;
    float: right;
    padding-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-content_text {
    min-height: 100%;
    max-width: 70vw;
    margin-top: auto;
    margin-bottom: auto;
}


/****************************/
/*         Footer          */
/****************************/
.footer-container {
    background-color: #151c34;
    padding: 2rem;
    width: 100%;
}
.faq-title-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.faq-title-section::before,
.faq-title-section::after {
    flex: 1 1 auto;
    content: "";
    border-bottom: 1px solid #ffffff;
    margin: auto;

}
.faq-title-section > .faq-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem;
}
.faq-title-section h2 {
    display: inline-block;
    font-size: 1.25rem;
    color: #ffffff;
    margin-right: 1rem;
}
.faq-body {
    margin-top: 0.75rem;
}
.footer-section {
    color: #d3d3d3;
}
.footer-section > * > h3 {
    color: #ffffff;
    font-weight: 700;
}
.address {
    font-size: 11px;
}
.plain-link {
    color: inherit;
}
.link-icon {
    fill: #387cdf;
    width: .5rem;
    height: .5rem;
    position: relative;
    top: -1px;
}
.logo {
    width:179px;
    height:auto;
}
[class*="col-"] {
    float: left;
    width: 100%;
    padding: .75rem 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/****************************/
/*          Form            */
/****************************/
.form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.form-header {
    text-align: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.form-subheader {
    text-align: center;
    padding: 0.2rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}
.form-section {
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.form-section.accordion {
    padding: 0 5px;
}
.form-section-accordion {
    padding: 0;
    width: 100%;
}
.input-group {
    position: relative;
    display: flex;
    width: 100%
}
.input-group.half {
    width: 100%;
}
.input-group > lightning-input, .input-group > lightning-combobox {
    width: 100%;
}


/****************************/
/*      Icon Buttons        */
/****************************/
div.icon-button-group-parent {
    display: block;
}
div.icon-button-group-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 3.75rem;
    padding: 0.5rem 0;
}
div.icon-button {
    background-color: rgb(242,242,242);
    color: rgb(130,130,130);
    border-radius: 2rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0.9rem;
}
div.icon-button:hover {
    background-color: #FFFFFF;
}
div.icon-button.selected {
    border: 0.2rem solid #387CDF;
}
div.icon-container {
    max-width: 12rem;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
div.icon {
    margin-top: auto;
    margin-bottom: auto;
}
img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    height: auto;
}
p.icon {
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
div.icon-button.selected > div > div > p {
    font-weight: 600;
}


/****************************/
/*          Text            */
/****************************/
.light-text {
    color: rgb(121,121,121);
}
.gray-text {
    color: #d3d3d3;
}
.blue-text {
    color: #387CDF;
}

p {
    font-family: Centra;
    font-size: 1rem;
    line-height: 1.5rem;
}
p.thin {
    font-family: CentraLight;
}
p.x_large {
    font-size: 1.5rem;
}
p.large {
    font-size: 1.125rem;
}
p.small {
    font-size: .875rem;
}
p.x_small {
    font-size: .75rem;
}

/* headline */
h1 {
    font-family: CentraLight;
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight: bold;
    display: block;
}
/* sub-headline */
h2 {
    font-family: Centra;
    font-size: 1rem;
    line-height: 1.2em;
    color: rgb(121,121,121);
    display: block;
}

/* footer link titles */
h3 {
    font-family: CentraLight;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    color: #ffffff;
}

/* waiting room headline */
h4 {
    font-family: CentraLight;
    font-size: 1.1rem;
    line-height: 1.2em;
    font-weight: bold;
}

/* small headline */
h6 {
    font-family: CentraMedium;
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: block;
    width: 100%;
}



/***    Desktop-Specific    ***/
@media only screen and (min-width: 600px) {
    .page-container {
        padding: 2rem 3rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    p[c-ssfFaq_ssfFaq], p[c-ssfFooter_ssfFooter] {
        font-size: 0.8rem;
    }
    img.icon {
        max-width: 8rem;
    }
    p.icon {
        font-size: 0.875rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    div.icon-container {
        padding: 0.75rem 1.5rem;
    }
    div.icon-button {
        border-radius: 2.5rem;
        margin: 0 1rem;
    }
    .zip-container > lightning-input {
        width: 14rem;
    }
    div.icon-button-group-container {
        max-width: 30rem;
    }
    .col-1 { width: 16.66%; }
    .col-2 { width: 33.33%; }
    .col-3 { width: 50%; }
    .col-4 { width: 66.66%; }
    .col-5 { width: 83.33%; }
    .col-6 { width: 100%; }
    [class*="col-"] {
        padding: .75rem 1.5rem;
    }
    .address {
        font-size: 0.9rem;
    }
    .input-group.half {
        width: 45%;
    }
    .form {
        max-width: 50rem;
    }
    .form-header {
        padding: 1rem 1rem 0rem;
    }
    .form-subheader {
        padding: 0rem 1rem 1rem;
    }
    .form-section {
        padding: 0rem 3rem;
    }
    .form-section.accordion {
        padding: 0 2rem;
    }
    .form-section-accordion {
        padding: 0 1rem;
    }
    .carousel-content_icon {
        max-width: 6vw;
    }
    .carousel-content_text {
        max-width: 50vw;
    }
}








/****************************/
/*      Font Imports        */
/****************************/
@font-face {
    font-family: 'Centra';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Book.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Book.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Book.eot') format('eot');
}

@font-face {
    font-family: 'Centra';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Bold.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Bold.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Bold.eot') format('eot');
    font-weight: bold;
}
    
@font-face {
    font-family: 'Centra';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-BookItalic.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-BookItalic.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-BookItalic.eot') format('eot');
    font-style: italic;
}
    
@font-face {
    font-family: 'Centra';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-BoldItalic.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-BoldItalic.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-BoldItalic.eot') format('eot');
    font-weight: bold;
    font-style: italic;
}
    
@font-face {
    font-family: 'CentraLight';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Light.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Light.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Light.eot') format('eot');
}
    
@font-face {
    font-family: 'CentraLight';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-LightItalic.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-LightItalic.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-LightItalic.eot') format('eot');
    font-style: italic;
}
    
@font-face {
    font-family: 'CentraMedium';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Medium.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Medium.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-Medium.eot') format('eot');
}
    
@font-face {
    font-family: 'CentraMedium';
    src: url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-MediumItalic.woff') format('woff'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-MediumItalic.woff2') format('woff2'),
         url('/apply/s/sfsites/c/resource/SimpleSignupFormStyling/Fonts/CentraNo2-MediumItalic.eot') format('eot');
    font-style: italic;
}