.THIS {
}
/* fileUpload2.css is identical */
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .yesNoButton {
    padding-right: 10%;
    padding-left: 10%;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}
.THIS.main1 {
    padding-top: 5%;

}

.THIS .boxLeftExec {
    width:30%;
    float:left;
    
}

.THIS.formCheckboxMarginBelow{
  padding-bottom: 5%;
}

.THIS .boxCenterExec {
    width:30%;
    float:left;
   	margin-left: 15%;
    margin-right: 5%;
}

.THIS .boxRightExec {
    width:30%;
    float:right;
    margin-right: 15%;
}

.THIS .blueBackground {
    background:#266092;    
}

.THIS .marginRight2 {
    margin-right:2%;   
}

.THIS .marginTopp5 {
    margin-top:0.5%;   
}

.THIS .bounceOutRight {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}

.THIS .boxLeftUser {
    width:30%;
    float:left;
    margin-left: 10%;
    
}

.THIS .floatRight {
    float:right;
}

.THIS .boxRightUser {
    width:30%;
    float:right;
    margin-right: 10%;
}


.THIS .paddingLeft {
    padding-left:15%;
}

.THIS .documentsButtonLeft {
    width:20%;
    float:left;
    padding-top:2.25%;    
    padding-left:20%; 

}
.THIS .documentsButtonCenter {
    width:20%;
    float:left;
   	margin-left:7%;

}

.THIS .documentsButtonRight {
    width:30%;
    float:right; 
    padding-top:2.25%;
    padding-right:30%; 

}

.THIS .salesAgreementButtonRight {
    width:30%;
    float:right; 
    padding-top:2.25%;
    padding-right:40%; 

}

.THIS.expand {
    width:100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.THIS.focus{
  width: 250px;
}

.THIS.paddingTop3{
  padding-top: 10%;
}

.THIS.marginTop{
  margin-top: 10%;
}

.THIS.paddingProgressBar{
  margin-bottom: 10%;
}
.THIS .box {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
}

.THIS .CustomerInfobox {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
    background-color: #6CA6CD;
}

.THIS.main2 {
    padding-top: 2%;

}
.THIS .logo {
    float:left;
    margin:10px;
    vertical-align:middle
}
.THIS .bwbluePaddingRight {
    color: #216093  ;
    padding-left: 8%;
}
.THIS .bwTeal {
    color: #00AFA9  ;
    padding-left: 8%;
}

.THIS .bwSecondary {
    color: #00AFA9  ;
}

.THIS .bwBlue {
    color: #216093  ;
}
.THIS .bwBluePaddingBelow {
    color: #216093  ;
    padding-bottom:1%;
}

.THIS .headertop {
    width:100%;
    text-align: center;
    padding: 15px 10px;
    padding-top: 5%;
    background-color:#216093    ;
    border-bottom:2px solid #7c98ad    ;
    border-radius:5px;
    height:75px;
    
}

.THIS .fundsBoxLeft {
    width:22%;
    float:left;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.THIS .fundsBoxCenter {
    width:22%;
    float:left;
   	margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .fundsBoxRight {
    width:22%;
    float:right;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.THIS .navsectionleft {
    width:22%;
    float:left;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.THIS .uploadMarginRight {
    margin-right: 10px;
}

.THIS .uploadMarginTop{
    margin-top: 10px;
}

.THIS .noDisplay {
    display: none;
}

.THIS .yesDisplay {
    visibility: visible;
}

.THIS .noDisplaySpec {
    display: none;
}

.THIS.noDisplayBar {
    display: none;
}

.THIS .left {
    float:left;
    border: none;
    background: none;
}

.THIS .right {
    float:right;
    background: none;
}

.THIS .rightMargin {
    float:right;
    background: none;
    margin-right: 10%;
}

.THIS .navsectionright {
    width:22%;
    float:right;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .navsectionCenter {
    width:22%;
    float:left;
   	margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.THIS .center {
    width:100%;
    text-align:center;
}

.THIS .buttonRight {
	float:right;
}

.THIS .paddingBottom1 {
	padding-bottom:1%;
}

.THIS .paddingTop1x5 {
	padding-top:1.5%;
}

.THIS .inputMarginLeft {
	margin-left: 0.75%;
}
.THIS .inputMarginRight {
	margin-right: 0.75%;
}
.THIS .inputMarginLeft2 {
	margin-left: 0.75%;
}
.THIS .inputMarginRight2 {
	margin-right: 0.75%;
}
.THIS .inputMarginTop {
	margin-top: 0.9%;
}

.THIS .progressBarWidthCreditMSLP {
    width:0%;
}

.THIS .progressBarWidthSystemInfoMSLP {
    width:20%;
}

.THIS .progressBarWidthReviewMSLP {
    width:40%;
}

.THIS .progressBarWidthContractMSLP {
    width:60%;
}

.THIS .progressBarWidthInterconnectionMSLP {
    width:80%;
}

.THIS .progressBarWidthCompleteMSLP {
    width:100%;
}

.THIS .center a {
    background-color: #216093  ;
    border-radius:5px;
    color:#FFFFFF;
    width:75%;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    border:2px solid #343434;
}
.THIS .CompleteProgressBar {
    width:99%;
}

.THIS .RunCreditCheckProgressBar {
    width:0%;
}

.THIS .ProvideAllCustomerInformationProgressBar {
    width:12.5%;
}

.THIS .UnderBlueWaveReviewProgressBar {
    width:25%;
}

.THIS .ObtainContractSignatureProgressBar {
    width:37.5%;
}

.THIS .ProvideSalesAgreementProgressBar {
    width:50%;
}
.THIS .BlueWaveCounterSignatureProgressBar {
    width:62.5%;
}
.THIS .MechanicalInstallationProgressBar {
    width:75%;
}

.THIS .InterconnectionProgressBar {
    width:87.5%;
}

.THIS .RunCreditCheckProgressBarMSLP {
    width:0%;
}

.THIS .ProvideAllCustomerInformationProgressBarMSLP {
    width:16.66%;
}

.THIS .UnderBlueWaveReviewProgressBarMSLP {
    width:33.33%;
}

.THIS .ObtainContractSignatureProgressBarMSLP {
    width:50%;
}

.THIS .BlueWaveCounterSignatureProgressBarMSLP {
    width:66.67%;
}

.THIS .InterconnectionProgressBarMSLP {
    width:83.33%;
}



