.THIS .marginTop1p5 {
    padding-top: 1.5%;
}
.THIS .marginLeft {
   padding-left: 5%;
}
.THIS .blueBackground {
    background:#266092;    
}
.THIS .floatRight {
    float:right;
}
.THIS .nimbusBackground {
    background-color: #DFDFE0;
}
.THIS .noDisplay {
    display: none;
}
.THIS.noDisplayBar {
    display: none;
}
.THIS .bounceOutRight {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}