@font-face {
    font-family: proximaNovaFont;
    src: url('{!$Resource.ProximaNova}');
}
.THIS .proximaNovaWhite {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #FFFFFF;
}
.THIS .proximaNova {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #FFFFFF;
}
.THIS .proximaNova95 {
    font-family: proximaNovaFont;
    font-size:95%;
    color: #FFFFFF;
}
.THIS .proximaNova150 {
    font-family: proximaNovaFont;
    font-size:150%;
    color: #FFFFFF;
}
.THIS .proximaNovaWhiteSmall {
    font-family: proximaNovaFont;
    font-size:75%;
    color: #FFFFFF;
}
.THIS .proximaNovaBrand {
    font-family: proximaNovaFont;
    font-size:32px;
    color: #236192;
}
.THIS .proximaNovaStream {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #00AFA9;
}  
.THIS .proximaNovaDataStream {
    font-family: proximaNovaFont;
    font-size:100%;
    color: #00b2a9;
}
.THIS .proximaNovaDataBlue {
    font-family: proximaNovaFont;
    font-size:90%;
    color: #266092;
}
.THIS .proximaNovaStream90 {
    font-family: proximaNovaFont;
    font-size:90%;
    color: #00b2a9;
}
.THIS .proximaNovaDataBlue50 {
    font-family: proximaNovaFont;
    font-size:85%;
    color: #266092;
}
.THIS .proximaNovaDataMountaintop95 {
    font-family: proximaNovaFont;
    font-size:95%;
    color: #7C98AB;
}
.THIS .proximaNovaDataGreenSmall {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #32CD32;
}
.THIS .visibilityHidden {
    visibility: hidden;
}
.THIS .noDisplay {
    display: none;
}

.THIS .box {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
       background-color:#ECECEC    ;
}
