@font-face {
    font-family: proximaNovaFont;
    src: url('{!$Resource.ProximaNova}');
}
.THIS .proximaNovaWhite {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #FFFFFF;
}
.THIS .proximaNova {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #FFFFFF;
}
.THIS .proximaNova95 {
    font-family: proximaNovaFont;
    font-size:95%;
    color: #FFFFFF;
}
.THIS .proximaNova150 {
    font-family: proximaNovaFont;
    font-size:150%;
    color: #FFFFFF;
}
.THIS .proximaNovaBrand {
    font-family: proximaNovaFont;
    font-size:32px;
    color: #236192;
}
.THIS .proximaNovaStream {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #00AFA9;
}  
.THIS .proximaNovaDataStream {
    font-family: proximaNovaFont;
    font-size:100%;
    color: #00b2a9;
}
.THIS .proximaNovaDataBlue {
    font-family: proximaNovaFont;
    font-size:90%;
    color: #266092;
}
.THIS .proximaNovaDataBlue50 {
    font-family: proximaNovaFont;
    font-size:85%;
    color: #266092;
}
.THIS .proximaNovaDataMountaintop95 {
    font-family: proximaNovaFont;
    font-size:95%;
    color: #7C98AB;
}
.THIS .proximaNovaDataGreenSmall {
    font-family: proximaNovaFont;   
    font-size:100%;
    color: #32CD32;
}
.THIS .noDisplay {
    display: none;
}
