/**
 * Created by mstackhouse on 10/8/2018.
 */
/*Controls first item color*/
.THIS .slds-path__nav .slds-is-active:first-child::before, .THIS .slds-path__nav .slds-is-active:first-child::after {
    background-color: t(colorBrand);
}
/*Makes first item hover color show through, but loses arrow point*/
.THIS .slds-path__nav:hover .slds-is-active:first-child::before, .THIS .slds-path__nav:hover .slds-is-active:first-child::after{
    background-color: transparent;
}

/*Controls active item color*/
.THIS .slds-is-active, .THIS .slds-is-active::before, .THIS .slds-is-active::after{
    background-color: t(colorBrand);
    background-image: none;
}
/*Controls active item hover color*/
.THIS .slds-is-active:hover, .THIS .slds-is-active::before:hover, .THIS .slds-is-active::after:hover{
    background-color: t(colorBrandDark);
}

/*Controls current item color*/
.THIS .slds-is-current, .THIS .slds-is-current::before, .THIS .slds-is-current::after{
    background-color: t(colorBrand);
    background-image: none;
}
/*Controls current item hover color*/
.THIS .slds-is-current:hover, .THIS .slds-is-current::before:hover, .THIS .slds-is-current::after:hover{
    background-color: #ECECEC;
    background-image: none;
}
/*Removes Border from hover on current*/
.THIS .slds-path__nav .slds-is-current:hover::before, .THIS .slds-path__nav .slds-is-current:hover::after {
    background-image: none;
}

/*Controls incomplete item color*/
.THIS .slds-is-incomplete, .THIS .slds-is-incomplete::before, .THIS .slds-is-incomplete::after{
    background-color: #ECECEC;
    background-image: none;
}

.THIS .slds-path__item {
    width : 15%;
}

.THIS .slds-path__title {

}