.THIS .shake {
  -webkit-animation-duration: 1.0s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.THIS .redcolor {
  color: #FF0000;
}

.THIS .textSize {
    font-size:90%;
}