.THIS .blueBackground {
    background:#266092; 
    color:#FFFFFF;
}

.THIS .noDisplay {
    display: none;
}

.THIS .buttonRightNoPadding {
    float:right;
    color:#FFFFFF;
}

.THIS .buttonLeftNoPadding {
    float:left;
    color:#FFFFFF;
}

.THIS .closeButton {
    float:right;
    color:#FFFFFF;
    margin-right:3%;
}

.THIS .backButton {
    float:left;
    color:#FFFFFF;
    margin-left:3%;
}

.THIS .textSize {
    font-size:90%;
}