.THIS {
}

.THIS.main1 {
    padding-top: 5%;

}

.THIS .boxLeft {
    width:30%;
    float:left;
    
}

.THIS .boxCenter {
    width:30%;
    float:left;
   	margin-left: 5%;
    margin-right: 5%;
}

.THIS .boxRight {
    width:30%;
    float:right;
}

.THIS.expand {
    width:100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.THIS.focus{
  width: 250px;
}
.THIS .box {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
}

.THIS.main2 {
    padding-top: 2%;

}
.THIS .logo {
    float:left;
    margin:10px;
    vertical-align:middle
}
.THIS .bwbluePaddingRight {
    color: #216093  ;
    padding-left: 8%;
}
.THIS .bwTeal {
    color: #00AFA9  ;
    padding-left: 8%;
}

.THIS .bwSecondary {
    color: #00AFA9  ;
}

.THIS .bwBlue {
    color: #216093  ;
}
.THIS .bwBluePaddingBelow {
    color: #7C98AB  ;
    padding-bottom:1%;
}

.THIS .headertop {
    width:100%;
    text-align: center;
    padding: 15px 10px;
    padding-top: 5%;
    background-color:#216093    ;
    border-bottom:2px solid #7c98ad    ;
    border-radius:5px;
    height:75px;
    
}

.THIS .fundsBoxLeft {
    width:22%;
    float:left;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.THIS .fundsBoxCenter {
    width:22%;
    float:left;
   	margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .fundsBoxRight {
    width:22%;
    float:right;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.THIS .navsectionleft {
    width:22%;
    float:left;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.THIS .noDisplay {
    display: none;
}

.THIS .yesDisplay {
    visibility: visible;
}

.THIS .noDisplaySpec {
    display: none;
}

.THIS.noDisplayBar {
    display: none;
}

.THIS .left {
    float:left;
    border: none;
    background: none;
}

.THIS .right {
    float:right;
    background: none;
}

.THIS .rightMargin {
    float:right;
    background: none;
    margin-right: 10%;
}

.THIS .navsectionright {
    width:22%;
    float:right;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.THIS .navsectionCenter {
    width:22%;
    float:left;
   	margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad  ;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.THIS .center {
    width:100%;
    text-align:center;
}

.THIS .buttonRight {
	float:right;
}

.THIS .paddingBottom1 {
	padding-bottom:1%;
}

.THIS .paddingTop1x5 {
	padding-top:1.5%;
}


.THIS .center a {
    background-color: #216093  ;
    border-radius:5px;
    color:#FFFFFF;
    width:75%;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    border:2px solid #343434;
}