.THIS .noDisplay {
    display: none;
}
.THIS.noDisplayBar {
    display: none;
}
.THIS .pulse {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 2;
}
.THIS .closeButton {
    float:right;
    color:t(colorTextButtonBrand);
    margin-right:3%;
}

.THIS .slds-modal__header{
    background: t(colorBackgroundButtonBrand);
}

.THIS .slds-text-heading_small {
    color: t(colorTextButtonBrand);
    font-size: 13px;
}

.THIS .slds-context-bar__label-action {
    font-size:90%;
    color: t(colorTextLink);
}