.THIS .box {
    box-shadow: 0 2px 2px 0px #7c98ad  , 0px 3px 1px -2px #7c98ad  , 0px 1px 5px 0 #7c98ad  ;
}

.THIS.main2 {
    padding-top: 2%;
}

.THIS .headertop {
    width:100%;
    text-align: center;
    padding: 15px 10px;
    padding-top: 5%;
    background-color:#216093;
    border-bottom:2px solid #7c98ad;
    border-radius:5px;
    height:75px;
}

.THIS .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.THIS .boxAnim {
    width:20%;
    float:left;
    margin-left:1%;

    border:2px solid #7c98ad;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #7c98ad;
    transition: all .7s;
}

.THIS .boxAnim:hover {
    width: 24%;
    margin-left:0%;
    background-color: #7c98ad;
}

.THIS .boxAnimCenter {
    width:20%;
    float:left;
    margin-left: 16%;
    margin-right: 16%;
    border:2px solid #7c98ad;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #7c98ad;
    transition: all .7s;
}

.THIS .boxAnimCenter:hover {
    width: 24%;
    margin-left:15%;
    margin-right: 15%;  
    background-color: #7c98ad;
}

.THIS .boxAnimRight {
    width:20%;
    float:right;
    margin-right:1%;
    border:2px solid #7c98ad;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 #7c98ad  , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #7c98ad;
    transition: all .7s;
}

.THIS .boxAnimRight:hover {
    width: 24%;
    margin-right:0%;
    background-color: #7c98ad;
}
