/**
 * Created by LindsayHolmes_GearsCRM on 7/7/20.
 */

* {
    box-sizing: border-box;
}

.page-container {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 100%;
    justify-content: center;
    display: flex;
    align-self: center;
    padding: 1rem;
}
c-ssf-file-upload {
    width: 100%;
}

.zip-container {
    width: 100%;
    display: block;
}
.zip-container > lightning-input {
    width: 8rem;
    margin: auto;
}

.modal_content {
    padding: 44px 48px 24px;
    border-radius: 2rem !IMPORTANT;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.fit {
    width: fit-content;
}


/****************************/
/*         Buttons          */
/****************************/
/* button:not(.slds-accordion__summary-action):not(lightning-help-text>.slds-form-element__icon>.slds-button_icon) { */
button.btn, button.btn-inverse, button.small {
    display: inline-block;
    border: none;
    border-radius: 3rem;
    outline: none;
    padding: 1.125rem 2rem;
    line-height: 1.25;
    transition: all .3s ease;
    text-align: center;
    font-family: ManropeSemiBold, sans-serif;
    text-decoration-color: #FFFFFF;
    text-decoration-line: none;
    text-decoration-style: solid;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
}
/* button:not(.slds-accordion__summary-action):hover, button.btn:hover, button.btn-inverse:hover { */
button.btn:hover, button.btn-inverse:hover, button.small:hover {
    background-color: #2774EE;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(43, 47, 57, 0.16);
    transform: translateY(-2px);
}
button.btn {
    background: #0D2727;
    color: #FFFFFF;
}
button.btn-inverse {
    background-color: #FFFFFF;
    color: #2774EE;
    border: 1px solid #2774EE;
}
button.small {
    font-size: .8125rem;
    padding: 0.5rem 1rem;
    min-width: 5rem;
}
.accordion-button {
    float: left;
}
.accordion-button__icon.top {
    fill: #2774EE;
    width: 1.1rem;
    height: 1.1rem;
}
.accordion-button__icon {
    fill: #f8f0e9;
    width: .65rem;
    height: .65rem;
}
.accordion-button__icon:hover {
    transform: scale(1.2);
}
.accordion-button__icon.rotate {
    transform: rotate(90deg);
}
.accordion-button__icon.rotate:hover {
    transform: rotate(90deg) scale(1.2);
}
.combo-button {
    display: flex;
    flex-flow: row nowrap;
}
.combo-button__icon {
    fill: #2774EE;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
.combo-button__text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}
.help-button {
    display: inline-block;
    position: relative;
}
.help-button__icon {
    border: 1px solid #2774EE;
    border-radius: 2rem;
    fill: #2774EE;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    padding: 0.2rem;
}



/****************************/
/*         Carousel         */
/****************************/
.slds-carousel__panel.panel-hide {
    display: none;
}
.no-border {
    border-style: none !important;
}
.carousel-content_icon {
    max-width: 14vw;
    height: auto;
    float: right;
    padding-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-content_text {
    min-height: 100%;
    max-width: 70vw;
    margin-top: auto;
    margin-bottom: auto;
}


/****************************/
/*         Footer          */
/****************************/
.footer-container {
    background-color: #0D2727;
    padding: 2rem;
    width: 100%;
}

.footer-container p {
  font-size: 0.875rem;
}

.faq-title-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.faq-title-section::before,
.faq-title-section::after {
    flex: 1 1 auto;
    content: "";
    border-bottom: 1px solid #ffffff;
    margin: auto;

}
.faq-title-section > .faq-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem;
}
.faq-title-section h2 {
    display: inline-block;
    font-size: 1.25rem;
    color: #ffffff;
    margin-right: 1rem;
}
.faq-body {
    margin-top: 0.75rem;
}
.footer-section {
    color: #f8f0e9;
}
.footer-section > * > h3 {
    color: #ffffff;
    font-weight: 700;
}
.address {
    font-size: 11px;
}
.plain-link {
    color: inherit;
}
.link-icon {
    fill: #2774EE;
    width: .5rem;
    height: .5rem;
    position: relative;
    top: -1px;
}
.logo {
    width:179px;
    height:auto;
}
[class|="col"] {
    float: left;
    width: 100%;
    padding: .75rem 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/****************************/
/*          Form            */
/****************************/
.form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.form-header {
    text-align: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.form-subheader {
    text-align: center;
    padding: 0.2rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}
.form-section {
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.form-section.accordion {
    padding: 0 1rem;
}
.form-section-accordion {
    padding: 0;
    width: 100%;
}
.input-group {
    position: relative;
    width: 100%
}
.input-group.half {
    width: 100%;
}
.input-group > lightning-input, .input-group > lightning-combobox {
    width: 100%;
}


/****************************/
/*         Help Text        */
/****************************/
.tooltip {
    position: absolute;
    white-space: normal;
    background-color: #2774EE;
    color: #FFFFFF;
    padding: 1rem;
    z-index: 3;
    border-radius: 2rem;
    width: 31.5rem;
}
.tooltip.tooltip__general {
    top: -7rem;
    left: -73%;
}
.tooltip.tooltip__utility {
    top: -41rem;
    left: 89%;
    width: 31rem;
}
.tooltip.tooltip__underwriting-field {
    top: 8rem;
    left: -62%;
}
.tooltip.tooltip__general::after, .tooltip.tooltip__utility::after, .tooltip.tooltip__underwriting-field::before {
    border-style: solid;
    content: "";
    position: absolute;
}
.tooltip.tooltip__general::after, .tooltip.tooltip__utility::after {
    border-color: #2774EE transparent transparent transparent;
}
.tooltip.tooltip__general::after {
    top: 62%;
    left: 85.5%;
    border-left-width: 70px;
    border-top-width: 70px;
}
.tooltip.tooltip__utility::after {
    top: 95%;
    left: 35%;
    margin-left: -35%;
    border-top-width: 100px;
    border-right-width: 50px;
}
.tooltip.tooltip__underwriting-field::before {
    border-color: transparent transparent #2774EE transparent;
    top: -34%;
    left: 85.5%;
    border-left-width: 70px;
    border-bottom-width: 135px;
}


/****************************/
/*      Icon Buttons        */
/****************************/
div.icon-button-group-parent {
    display: block;
}
div.icon-button-group-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 2.25rem;
    padding: 0.5rem 0;
}
div.icon-button {
    background-color: rgb(242,242,242);
    color: rgb(130,130,130);
    border-radius: 2rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0.9rem;
    padding-bottom: 5px;
}
div.icon-button:hover {
    background-color: #FFFFFF;
}
div.icon-button.selected {
    border: 0.2rem solid #2774EE;
    padding-bottom: 5px;
}
div.icon-container {
    max-width: 12rem;
    min-width: 12rem;
    max-height: 12rem;
    min-height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.icon {
    margin-top: auto;
    margin-bottom: auto;
}
img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    height: auto;
}
p.icon {
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
div.icon-button.selected > div > div > p {
    font-weight: 600;
}

.hide-button {
    display: none;
}

/****************************/
/*          Text            */
/****************************/
body.comm-page-custom-switch {
  color: #0D2727;
}

.light-text {
    color: rgb(121,121,121);
}
.gray-text {
    color: #f8f0e9;
}
.blue-text {
    color: #2774EE;
}

p {
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
p.thin {
    font-family: Manrope, sans-serif;
}
p.x_large {
    font-size: 1.5rem;
}
p.large {
    font-size: 1.125rem;
}
p.small {
    font-size: .875rem;
}
p.x_small {
    font-size: .75rem;
}

/* headline */
h1 {
    font-family: Manrope, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    display: block;
}
/* sub-headline */
h2 {
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    color: rgb(121,121,121);
    display: block;
}

/* footer link titles */
h3:not(.slds-accordion__summary-heading) {
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

/* waiting room headline */
h4 {
    font-family: ManropeSemiBold, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* small headline */
h6 {
    font-family: ManropeSemiBold, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: block;
    width: 100%;
}



/***    Desktop-Specific    ***/
@media only screen and (min-width: 600px) {
    .page-container {
        padding: 2rem 3rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    h4 {
      font-size: 1.1rem;
      line-height: 1.3;
    }
    .footer-container p {
      font-size: 1rem;
    }
    p[c-ssfFaq_ssfFaq], p[c-ssfFooter_ssfFooter] {
        font-size: 0.7rem;
    }
    img.icon {
        max-width: 8rem;
    }
    p.icon {
        font-size: 0.875rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    div.icon-container {
        padding: 0.75rem 1.5rem;
    }
    div.icon-button {
        border-radius: 2.5rem;
        margin: 0 1rem;
    }
    .zip-container > lightning-input {
        width: 14rem;
    }
    div.icon-button-group-container {
        max-width: 40rem;
    }
    div.icon-button.selected {
        border: 0.2rem solid #2774EE;
    }
    .col-1 { width: 16.66%; }
    .col-2 { width: 33.33%; }
    .col-3 { width: 50%; }
    .col-4 { width: 66.66%; }
    .col-5 { width: 83.33%; }
    .col-6 { width: 100%; }
    [class|="col"] {
        padding: .75rem 1.5rem;
    }
    .address {
        font-size: 0.8rem;
    }
    .input-group {
        display: flex;
    }
    .input-group.half {
        width: 45%;
    }
    .form {
        max-width: 50rem;
    }
    .form-header {
        padding: 1rem 1rem 0;
    }
    .form-subheader {
        padding: 0 1rem 1rem;
    }
    .form-section {
        padding: 0 3rem;
    }
    .form-section.accordion {
        padding: 0 1rem;
    }
    .form-section-accordion {
        padding: 0 1rem;
    }
    .carousel-content_icon {
        max-width: 6vw;
    }
    .carousel-content_text {
        max-width: 50vw;
    }
    .fileUploadWithHelp {
        white-space: nowrap;
        width: 275%;
        display: flex;
    }
    .fileUploadWithHelp > lightning-file-upload {
        display:inline-block;
    }
    .fieldWithHelp {
        display: flex;
    }
    .fieldWithHelp > lightning-combobox {
        display:inline-block;
    }
    .fieldWithHelp label.slds-form-element__label {
        white-space: normal;
    }
    .fieldWithHelp lightning-base-combobox {
        width: 110%;
    }
}








/****************************/
/*      Font Imports        */
/****************************/
@font-face {
    font-family: 'Manrope';
    src: url('/resource/PerchFonts/Fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ManropeSemiBold';
    src: url('/resource/PerchFonts/Fonts/Manrope-SemiBold.ttf') format('truetype');
}
