.header {
    width:100%;
    height:110px;
    border-radius:0px;
    display: block;
}

.logo {
    float: left;
    margin-top:40px;
    margin-left:40px;
    vertical-align:middle;
    max-width:30%;
    height:auto;
}