.THIS {
}

.THIS.header {
    /*background-color: #DFDFE0;*/
    background-color: t(colorBrand);
    width:100%;
    height:110px;
    border-radius:0px;
}

.THIS.fadeInOut {
    position:absolute;
    left:649px;
    top:215px;
    visibility: hidden;
    animation: assetAnim 2s 1 forwards;
    animation-delay: 1s;
    animation-play-state: paused;
}

@-webkit-keyframes assetAnim {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.THIS .logo {
    float:left;
    margin:10px;
    vertical-align:middle;
    height: 100%;
}

.THIS .equilizer {
  height: 100px;
  width: 100px;
  transform: rotate 180deg;
}

.THIS .bar {
  fill: DeepPink;
  width: 18px;
  animation: equalize 1.25s steps(25, end) 0s infinite;
}

.THIS .bar:nth-child(1) {
  animation-duration: 1.9s;
}

.THIS .bar:nth-child(2) {
  animation-duration: 2s;
}

.THIS .bar:nth-child(3) {
  animation-duration: 2.3s;
}

.THIS .bar:nth-child(4) {
  animation-duration: 2.4s;
}

.THIS .bar:nth-child(5) {
  animation-duration: 2.1s;
}

@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}
.THIS .fadeIn {

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 .THIS .slideIn { 
      position: absolute; 
      top: 200px; 
      width: 100px; 
      height: 100px; 
      border: 1px solid black; 
      animation-name: hide, slideIn;
      animation-duration: 5s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1; 
      -moz-animation-name: hide, slideIn;
      -moz-animation-duration: 5s;
      -moz-animation-timing-function: ease-in;
      -moz-animation-iteration-count: 1; 
      -webkit-animation-name: hide, slideIn;
      -webkit-animation-duration: 5s;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-iteration-count: 1; 
      -o-animation-name: hide, slideIn;
      -o-animation-duration: 5s;
      -o-animation-timing-function: ease-in;
      -o-animation-iteration-count: 1; 
      opacity: 1;
  } 
  .THIS .slideIn.first {
      left: 50px; 
      animation-delay: 0s, 0s;
      -moz-animation-delay: 0s, 0s;
      -webkit-animation-delay: 0s, 0s;
      -o-animation-delay: 0s, 0s;
  }
  .THIS .slideIn.second {
      left: 150px;
      animation-delay: 0s, 2s;
      -moz-animation-delay: 0s, 2s;
      -webkit-animation-delay: 0s, 2s;
      -o-animation-delay: 0s, 2s;
  }
  .THIS .slideIn.third {
      left: 250px;
      animation-delay: 0s, 4s;
      -moz-animation-delay: 0s, 4s;
      -webkit-animation-delay: 0s, 4s;
      -o-animation-delay: 0s, 4s;
  }
  @keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @-moz-keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @-webkit-keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @-o-keyframes hide
  { 
      from { opacity: 0; } to { opacity: 0 }
  }
  @keyframes slideIn
  { 
        0% { opacity: 0; top: -100px; }
        1% { opacity: 1; top: -100px; }
      100% { opacity: 1; top:  200px; } 
  } 
  @-moz-keyframes slideIn
  { 
        0% { opacity: 0; top: -100px; }
        1% { opacity: 1; top: -100px; }
      100% { opacity: 1; top:  200px; } 
  } 
  @-webkit-keyframes slideIn
  { 
        0% { opacity: 0; top: -100px; }
        1% { opacity: 1; top: -100px; }
      100% { opacity: 1; top:  200px; } 
  } 
  @-o-keyframes slideIn
  { 
        0% { opacity: 0; top: -100px; }
        1% { opacity: 1; top: -100px; }
      100% { opacity: 1; top:  200px; } 
  } 


.THIS .fadeOut {

    -webkit-animation: fadeOut 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOut 4s; /* Firefox < 16 */
        -ms-animation: fadeOut 4s; /* Internet Explorer */
         -o-animation: fadeOut 4s; /* Opera < 12.1 */
            animation: fadeOut 4s;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}


.THIS .logout {
  float:right;
    margin-right: 4%;
    margin-top:40px;
}

.THIS .logoutText {
    color: #FFFFFF;

}

.THIS .userMenu {
  float:right;
  margin-top: 20px;
  margin-right: 5%;
}

.THIS .gearimage {
    margin-left:10px;
    float:right;
    color: #FFFFFF
}

.THIS .floatRight {
  float:right;
}


.THIS .username {
    float:left;
    margin-top:3px;
    color: #FFFFFF !important;
}

.THIS .noDisplay {
    display: none;
}

.THIS.noDisplayBar {
    display: none;
}