.THIS .tableRowEven{
    background-color: #d8dde6;
    float:left;
    text-align: left;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}

.THIS .tableRowOdd{
    background-color: #f7f9fb;
    float:left;
    text-align: left;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}