/**
 * Created by rebeccanachison on 10/4/21.
 */

.cpp-footer__container {
    min-height: 93px;
    background-color: var(--lwc-colorBackgroundButtonBrand);
    align-content: center;
}

.cpp-footer__wrapper {
    width: 100%;
    padding: 20px;
}

.cpp-footer__text {
    color: #fff;
    text-align: center;
    font-size: .5rem;
}